
.constainer{
    width: 100%;
    position: relative;
}
.search-box{
   position: absolute;
     left: 50%;  
    top: 230px;
    transform: translateX(-50%);/*  Căn giữa */
    z-index: 1;
}
.form-login{
    position: fixed;
    left: 0;
    top: -20px;
    width: 100%;
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: none;
    z-index: 999;
}
/* login */
@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.8) translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}
.on-login{
    display: block;
    opacity: 1;
    animation: fadeInScale 0.3s;
}