* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.booking-page {
    width: 1000px;
}

.booking-menu {
    background-color: #EAF0F0;
}

.booking-container {
    background-color: #EAF0F0;
}